/* imports */
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');
@font-face {
    font-family: "bubble";
    src: url("./fonts/AlloyInk-font/AlloyInk-lgdWw.otf");
    }



/* body */
body {
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgb(248, 242, 249), rgb(249, 190, 249));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.7rem;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    min-width: 100%;
    padding: 0;

}


/* heading */
.header-section {
    border-bottom: solid 3px rgb(0, 0, 0);
    box-shadow: 0 9px 9px -8px rgb(243, 152, 238);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50%;
    margin: 4rem;
    padding: 1rem;
    width: 80%;
}

.header-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1 / span 2;
    justify-content: center;
}

.page-title-h1 {
    color: 	rgb(255, 153, 255);
    font-family: 'bubble';
    font-size: 4rem;
    margin: 0;
    text-shadow: rgb(251, 229, 250) 3px 5px;
}

.page-title-p {
    color: rgb(150, 45, 207);
    font-family: 'Alegreya SC', serif;
    margin: 0;
    padding: 2rem;
    text-shadow: rgb(255, 174, 243) 2px -2px;
}

/* I may need it in the future */
/* .start-btn {
    grid-column: 1;
    grid-row: 2;
    margin: 5rem 3rem;
} */

.restart-btn {
    grid-column: 1;
    grid-row: 1 /span 2;
    margin: 5rem 3rem;
}

.choose-btn {
    grid-column: 3;
    grid-row: 1 / span 2;
    margin: 5rem 3rem;
}

/* I may need it in the future */
/* .ai-btn {
    grid-column: 3;
    grid-row: 2;
    margin: 5rem 3rem;
} */



/* copied from resourse >>> linked in README.md then edited it a little */
header button {
    border: 0;
    font-family: "Rubik", sans-serif;
    font-size: 0.8rem;
    outline: none;
    text-decoration: none;
    vertical-align: middle;
  }
header button.btn {
    background: #fff0f0;
    border-radius: 0.75rem;
    border: 2px solid #b18597;
    color: #b84dff;
    font-weight: 600;
    padding: 1.25rem 2rem;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transition: transform 0.15s;
    transition: 0.5s;
  }
header button.btn::before {
    background: #f9c4d2;
    border-radius: inherit;
    bottom: 0;
    box-shadow: 0 0 0 2px #b18597, 0 0.625rem 0 0 #ffe3e2;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(0, 0.75rem, -1rem);
    transition: transform 0.15s, box-shadow 0.15s;
    width: 100%;
  }
  
header button.btn:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25rem);
  }

header button.btn:hover::before {
    box-shadow: 0 0 0 2px #b18597, 0 0.5rem 0 0 #ffe3e2;
    transform: translate3d(0, 0.5rem, -1rem);
  }

header button.btn:active {
    background: #ffe9e9;
    transform: translate(0rem, 0.75rem);
  }

header button.btn:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1rem);
  }


/* game */
.game-wrap-around {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 33% 33% 33%;
    height: 24rem;
    justify-content: center;
    margin: 0;
    padding: 1.2rem;
    width: 40rem;
}

.game {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    margin: 0;
}

/* circle and cross background pictures */
.circle {
    background-image: url(./pictures/circle.png);
    background-size: cover;
    border: 1px solid rgb(123, 120, 128);
}

.cross {
    background-image: url(./pictures/cross.png);
    background-size: cover;
    border: 1px solid rgb(123, 120, 128);
} 

.playing-field {
    border: 1px solid rgb(123, 120, 128);
}

/* players */

.player {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.first-player-wrapper {
    grid-column: 2;
    grid-row: 1;
}

.second-player-wrapper {
    grid-column: 2;
    grid-row: 2;
}

.tie-wrapper {
    grid-column: 2;
    grid-row: 3;
}

.btn-player{
    background: inherit;
    border-radius: 30%;
    border: 3px solid rgb(242, 204, 255);
    font-family: inherit;
    font-size: inherit;
    padding: 1rem 1.5rem;
}

.player-one:hover {
    background-color: #ff9ee8;
    border: 5px solid rgb(224, 172, 252);
    color: rgb(255, 255, 255);
}

.player-two:hover {
    background-color: #d17be7;
    border: 5px solid rgb(252, 172, 248);
    color: rgb(255, 255, 255);
}

/* token choices element */
.extra-tokens{
    margin: 0 auto;
    padding: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    height: 4rem;
}

.possible-tokens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.sweet-token {
    background-image: url(./pictures/token_one.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
}
.crepe-token {
    background-image: url(./pictures/token_two.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
}
.bunny-token {
    background-image: url(./pictures/token_three.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
}
.milkshake-token {
    background-image: url(./pictures/token_four.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
}
.shortcake-token {
    background-image: url(./pictures/token_five.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
}
.chocolate-token {
    background-image: url(./pictures/token_six.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
}
.tea-token {
    background-image: url(./pictures/token_seven.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
}
.pancake-token {
    background-image: url(./pictures/token_eight.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
}


/* winning message*/
.winning-message {
    background-size: cover;
    background: url(./pictures/WS2o.gif);
    color: #fdd3fb;
    font-family: 'Calligraffitti', cursive;
    font-size: 6rem;
    font-size: 6rem;
    font-weight: 700;
    left: 50%;
    left: 50%;
    letter-spacing: 0.02em;
    padding: 28rem;
    position: absolute;
    text-align: center;
    text-shadow: -15px 5px 20px #ced0d3;
    top: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
    width: 70%;
    text-shadow: 5px 5px 0px #f0c9ff, 
    10px 10px 0px #ec9af8, 
    15px 15px 0px  #FF80BF, 
    20px 20px 0px #EF5097, 
    25px 25px 0px #d979ff, 
    30px 30px 0px #da46ff;
    z-index: -10;
}



/* music */
.music-box {
    display: flex;   
}

.music-btn { 
    background-color: rgb(255, 255, 255);
    color: rgb(155, 36, 184);
    flex-wrap: wrap;
    font-size: 0.8rem;
    height: auto;
    margin: 0;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 100px;
    width: 85px;
}

.tie {
    font-size: 2rem;
}


/* footer */
footer {
    font-size: 1.2rem;
    margin: 2rem;
    padding: 3rem;
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    border-bottom: 1px solid;
}


/* visibility none */
.add-visibility {
    margin: 0;
    visibility: visible;
}

/* vibility visible */
.visibility-none {
    margin: 0;
    visibility: hidden;
}



/* screen sizes */
/* desktop laptop */
@media all and (max-width: 1350px) {
    .page-title-h1{
        font-size: 2.2rem;
    }
    .page-title-p {
        font-size: 1.3rem;
    }
    header button.btn {
        margin: 1rem 1rem;
        padding: 3rem 1rem;
    }
    .winning-message {
        z-index: -100;
    }
    .possible-tokens{
        top: 55%;
    }
}

/* ipad */
@media all and (max-width: 750px) {
    .header-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 2rem;
    }
    .page-title-h1 {
        font-size: 2.6rem;
    }
    .page-title-p {
        font-size: 1.6rem;
    }
    header button.btn {
        margin: 1rem 1rem;
        padding: 1rem 1rem;
    }
    .main-wrap-around {
        width: 100%;
    }
    .game-wrap-around {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .game {
        height: 500px;
        padding: 2%;
    }
    .btn-player {
        font-size: 1.2rem;
    }
    footer {
        font-size: 1rem;
        margin: 0;
        padding: 2rem 0 0 0;
    }
    .music-btn {
        font-size: 0.5rem;
        padding: 0.5rem;
        top: 50px
    }
    .circle {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 7rem;
    }
    .body {
        display: flex;
    }
    .winning-message {
        width: 100%;
        font-size: 5rem;
        z-index: -100;
    }

}

/* phone */
@media all and (max-width: 480px) {
    .header-section{
        align-items: center;
        display: flex;
        margin-top: 3rem;
        margin: 1rem;
        padding: 0;
    }
    .page-title-h1 {
        font-size: 1.8rem;
        padding: 0;
    }
    .page-title-p { 
        font-size: 1.3rem;
        padding: 1rem;
    }
    header button.btn {
        margin: 1.6rem 1rem;
        padding: 0.7rem 0.6rem;
    }
    .main-wrap-around {
        width: 100%;
    }
    .game-wrap-around {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .game {
        height: 300px;
    }
    .btn-player {
        font-size: 1.2rem;
    }
    footer {
        font-size: 1rem;
        margin: 0;
        padding: 2rem 0 0 0;
    }
    .circle {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 5rem;
    }
    .winning-message {
        background-size: 12rem;
        font-size: 3rem;
        z-index: -100;
    }
    .possible-tokens {
        top: 60%;
    }
}