/* imports */
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@font-face {
    font-family: "bubble";
    src: url("/fonts/AlloyInk-lgdWw.otf");
    }

* {
    border: 1px solid black
}

/* body */
body {
    align-items: center;
    background-color: rgb(255, 247, 255);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 35px;
    justify-content: center;
    margin: 0 auto;
}


/* heading */
.header-section {
    border-bottom: solid 3px rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50%;
    margin: 0;
    padding: 1.2em;
    width: 75%;
    box-shadow: 0 13px 5px -5px rgb(237, 191, 243);
}

#header-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1 / span 2;
    justify-content: center;
    margin: 0 auto;
}

.page-title-h1 {
    color: #eed0ff;
    font-family: 'bubble';
    font-size: 2.5em;
    margin: 0;
    width: auto;
}

.page-title-p {
    color: rgb(200, 57, 219);
    margin: 0;
    padding: 1rem;
    text-shadow: rgb(164, 85, 152) 1px 1px;
}

.start-btn {
    grid-column: 1;
    grid-row: 2;
    margin: 5em 3em;
}

.restart-btn {
    grid-column: 1;
    grid-row: 1;
    margin: 5em 3em;
}

.choose-btn {
    grid-column: 3;
    grid-row: 1;
    margin: 5em 3em;
}

.ai-btn {
    grid-column: 3;
    grid-row: 2;
    margin: 5em 3em;
}



/* copied from resourse >>> linked in README.md then edited it a little */
header button {
    border: 0;
    font-family: "Rubik", sans-serif;
    font-size: 0.9rem;
    outline: none;
    text-decoration: none;
    vertical-align: middle;
  }
header button.btn {
    background: #fff0f0;
    border-radius: 0.75em;
    border: 2px solid #b18597;
    color: #382b22;
    font-weight: 600;
    padding: 1.25em 2em;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transition: transform 0.15s;
  }
header button.btn::before {
    background: #f9c4d2;
    border-radius: inherit;
    bottom: 0;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 0.15s, box-shadow 0.15s;
    width: 100%;
  }
  
header button.btn:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
  }

header button.btn:hover::before {
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    transform: translate3d(0, 0.5em, -1em);
  }

header button.btn:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
  }

header button.btn:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
  }


/* game */
.game-wrap-around {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 33% 33% 33%;
    height: 15em;
    justify-content: center;
    margin: 0;
    padding: 1.2em;
    width: 25em;
}

.game {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    margin: 0;
}

/* circle and cross background pictures */
.circle {
    background-image: url(/pictures/circle.png);
    background-size: cover;
    border: 1px solid rgb(123, 120, 128);
}

.cross {
    background-image: url(/pictures/cross.png);
    background-size: cover;
    border: 1px solid rgb(123, 120, 128);
} 

.playing-field {
    border: 1px solid rgb(123, 120, 128);
}

/* players */

.player {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#first-player-wrapper {
    grid-column: 2;
    grid-row: 1;
}

#second-player-wrapper {
    grid-column: 2;
    grid-row: 2;
}

#tie-wrapper {
    grid-column: 2;
    grid-row: 3;
}

.btn-player{
    background: inherit;
    border-radius: 30%;
    border: 3px solid rgb(242, 204, 255);
    font-family: inherit;
    font-size: inherit;
    padding: 1em 1.5em;
}

#player-one:hover {
    background-color: #ff9ee8;
    border: 5px solid rgb(224, 172, 252);
    color: rgb(255, 255, 255);
}

#player-two:hover {
    background-color: #d17be7;
    border: 5px solid rgb(252, 172, 248);
    color: rgb(255, 255, 255);
}


#tie {
    font-family: inherit;
    font-size: inherit;
    
}

/* winning message*/
.winning-message {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

/* token choices element */
.possible-tokens {
    left: 50%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
}

/* visibility none */
.add-visibility {
    visibility: visible;
    margin: 0;
}

/* vibility visible */
.visibility-none {
    visibility: hidden;
    margin: 0;
}

/* extra tokens */
.extra-tokens{
    justify-content: center;
    padding: 1em;
    width: 15%;
    margin: 0 auto;
}

/* music */
.music-box {
    display: flex;

}

.music-btn { 
    background-color: rgb(255, 255, 255);
    color: rgb(155, 36, 184);
    flex-wrap: wrap;
    font-size: 0.5em;
    height: auto;
    margin: 0;
    padding: 0.3em;
    position: fixed;
    right: 0;
    top: 100px;
    width: 85px;
}

/* footer */

footer {
    margin: 0;
    padding: 10px;
}


